.advantages {
  padding: 39px 0;
  text-align: center;
}

.advantages__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}
