.advantage-detailes {
  list-style-type: none;
  padding: 0;
  font-weight: 400;



  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 330px;
    height: auto;

  }
}

.advantage-detailes__item--housing .product-advantage-text {
  @media (min-width: @tablet-width) {
    background-image: url(../images/icons/advantage-icons/icon-house.svg);
    background-size: 75px 72px;
    background-repeat: no-repeat;
    background-position: center 60px;

  }
}

.advantage-detailes__item--food .product-advantage-text {
  @media (min-width: @tablet-width) {
    background-image: url(../images/icons/advantage-icons/icon-burger.svg);
    background-size: 76px 68px;
    background-repeat: no-repeat;
    background-position: center 63px;
  }
}

.advantage-detailes__item--souvenirs .product-advantage-text {
  @media (min-width: @tablet-width) {
    background-image: url(../images/icons/advantage-icons/icon-gift.svg);
    background-size: 64px 75px;
    background-repeat: no-repeat;
    background-position: center 57px;
  }
}

.advantage-detailes__item .product-advantage-text {
  background-color: #ffffff;
  display: block;
  min-height: 113px;

  @media (min-width: @tablet-width) {
    min-height: 330px;
    padding-top: 150px;
    box-sizing: border-box;
    height: auto;
  }
}

/*
background-repeat: no-repeat;
  text-align: center;
  padding: 90px 0 85px 0;
  box-sizing: border-box;
  background-size: cover;
  height: 100%;
  min-height: 389px;
  width: 100%;
*/
