.button-primary {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81B3D2;
  border: none;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;

    color: #FFFFFF4D;
  }

  &:disabled {
    background-color: #E5E5E5;
  }
}
