.footer-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    padding: 0 45px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0 100px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }
}
