.modal {
  position: relative;
  margin: auto;
  padding: 35px 37px 37px 37px;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 320px;
  height: fit-content;
  min-height: 280px;
  color: #000000;
  text-transform: uppercase;
  margin: auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 400px;
    min-height: 347px;
    padding: 50px 46px 49px;
  }
}

.modal__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 0 40px;
  }
}

.modal__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0 20px 25px 20px;

  @media (min-width: @tablet-width) {
    padding: 20px 10px 45px;
  }
}

.modal__button {
  width: 180px;
  height: 58px;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-family: 'PT Sans';

  @media (min-width: @tablet-width) {
    width: 272px;
    font-size: 21px;
    line-height: 26px;
  }
}
