.offer {
  padding: 39px 18px 49px;
  text-align: center;
  min-height: 287px;

  @media (min-width: @tablet-width) {
    min-height: 318px;
  }

  @media (min-width: @desktop-width) {
    min-height: 331px;
  }
}

.offer__header {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.offer__description {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.offer__button {
  width: 284px;
  height: 58px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
