.offer {
  padding: 39px 18px 49px;
  text-align: center;
  min-height: 287px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-height: 318px;
    padding: 60px 150px 9px;
  }

  @media (min-width: @desktop-width) {
    min-height: 331px;
    padding: 59px 350px 39px;
  }
}

.offer__wrapper {
  margin: 0;
  padding: 0;
}

.offer__header {
  padding-bottom: 25px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 33px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 32px;
  }
}

.offer__description {
  padding-bottom: 32px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 46px;
  }
}

.offer__description span {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.offer__button {
  width: 284px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  padding: 4px 0 1px 0;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 0;
  }
}
