.product-advantage {
  color: #000000;
  padding: 0;
  height: auto;
  min-height: 113px;
  box-sizing: border-box;


  @media (min-width: @tablet-width) {
    display: flex;
    min-height: 256px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    min-height: 256px;
    height: auto;
  }
}

.product-advantage__text {
  padding: 25px 18px;
  box-sizing: border-box;
  align-items: center;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 256px;
    height: auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    text-align: center;
    min-height: 256px;
    height: auto;
  }
}

.product-advantage__image {
  display: block;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
