.sedona-video-button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(65%, -40%);
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: content-box;
  z-index: 2;
  background: transparent;
}
