.sedona-advantages {
  color: #000000;
  padding: 0;
  list-style-type: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.sedona-advantages__item {
  background-color: #eeeeee;
}
