.sedona-catalog-slogan {
  background-image: url(../images/background/sedona-view-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  min-height: 214px;
  padding: 90px 19px 85px 19px;
  box-sizing: border-box;
}
