.site-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 768px;
    justify-content: space-between;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1200px;
  }

  @media (max-width: @mobile-width) {
    display: block;
  }
}
