.slogan {
  background-image: url(../images/background/sedona-view-main.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding: 90px 0 85px 0;
  box-sizing: border-box;
  background-size: cover;
  height: 100%;
  min-height: 389px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    min-height: 518px;
  }
}

.slogan__image-header {
  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}
