.user-name-form__header {
  font-weight: 700;
  padding: 20px 0 20px 0;
}

.user-name-form {

  @media (max-width: @mobile-width) {
    border-bottom: solid 1px #F2F2F2;
  }

  border: none;
  margin: 0;
  padding: 0;
}
