.user-form {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 290px);
    column-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 430px);
    column-gap: 60px;
  }
}
