.user-comment-form__header {
  font-weight: 700;
  padding: 24px 0 20px 0;
}

.user-comment-form {
  border: none;


  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
  }
}

.user-comment-form__input {
  border: none;
  background-color: #F2F2F2;
  width: 100%;
  min-height: 150px;
  padding: 16px;
  box-sizing: border-box;
  text-align: left;
}
