.user-visited-attractions {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.user-visited-attractions__item {
  padding-right: 52px;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 5px;
    margin-left: 43px;
  }
}

.user-visited-attractions__checkbox {
  position: relative;
  padding: 15px 5px 5px 5px;
}
